<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standings</title>
    <link rel="stylesheet" href="styles/layout.css">
	
</head>
<body class="standings">
       <!----Top navigation bar-->

<div class="header">
  <div class="logo"><img src="images/west-glamorgan-netball.png"></div>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/fixtures">Results & Fixtures</a>
    <a href="/standings">Standings</a>
    <a href="/contact">Contact us</a>
    <a href="/blog">Blog</a>
  </div>
  </div>

  <!--content-->
  <div id="hero">
		<h1>Current league standings</h1>
	</div>	
  <h1 class="division-header">Division 4</h1>
	<div id="display">

    <div id="leagues">
<!--testing placement, if not here put inside table id-->

    <a id="One" href="/standings">Division 1</a>
    <a id="Two" href="/division2">Division 2</a>
    <a id="Three" href="/division3">Division 3</a>
    <a id="Four" href="/division4">Division 4</a>
    <a id="Five" href="/division5">Division 5</a>
    <a id="Six" href="/division6">Division 6</a>


  </div>
		<div id="table">

<table class="tg">
<thead>
  <tr>
    <th class="tg-j6zm">Position</th>
    <th class="tg-j6zm">Team</th>
    <th class="tg-j6zm">P</th>
    <th class="tg-j6zm">GF</th>
    <th class="tg-j6zm">GA</th>
    <th class="tg-j6zm">Pts</th>
  </tr>
</thead>
<tbody>
  <tr>

    
    <td class="tg-j6zm">1</td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[0].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[0].P %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[0].GF %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[0].GA %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[0].Pts %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-j6zm">2</td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[1].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[1].P %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[1].GF %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[1].GA %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[1].Pts %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-j6zm">3</td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[2].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[2].P %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[2].GF %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[2].GA %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[2].Pts %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-j6zm">4</td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[3].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[3].P %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[3].GF %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[3].GA %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[3].Pts %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-j6zm">5</td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[4].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[4].P %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[4].GF %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[4].GA %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[4].Pts %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-j6zm">6</td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[5].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[5].P %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[5].GF %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[5].GA %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[5].Pts %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-j6zm">7</td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[6].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[6].P %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[6].GF %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[6].GA %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[6].Pts %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-j6zm">8</td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[7].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[7].P %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[7].GF %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[7].GA %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[7].Pts %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-j6zm">9</td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[8].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[8].P %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[8].GF %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[8].GA %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[8].Pts %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-j6zm">10</td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[9].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[9].P %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[9].GF %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[9].GA %> 
      <% } else { %> TBD <% } %></td> 
    <td class="tg-7zrl"><%if (locals.data) {%> 
      <%= data[9].Pts %> 
      <% } else { %> TBD <% } %></td>
  </tr>
</tbody>
</table>

		</div>
	</div>
 
  <div class="footer">
    <p>© West Glamorgan Netball 2024. All rights reserved</p>
    <p>Designed by<a class="wos_link" href="https://webonestop.com/"> Webonestop</a></p>
  </div>

</body>
</html>