<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixtures</title>
    <link rel="stylesheet" href="styles/layout.css">
</head>
<body class="fixtures-page">
      <!----Top navigation bar-->

<div class="header">
    <div class="logo"><img src="images/west-glamorgan-netball.png"></div>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/fixtures">Results & Fixtures</a>
      <a href="/standings">Standings</a>
      <a href="/contact">Contact us</a>
      <a href="/blog">News</a>
    </div>
    </div>
  
    <div id="hero">
      <h1>League Fixtures & Results</h1>
    </div>	
  <h1 class="division-header">Division 1</h1>
    <div id="display">
  
      <div id="leagues">
  <!--testing placement, if not here put inside table id-->
  
  <a id="One" href="/fixtures">Division 1</a>
  <a id="Two" href="/fixtures2">Division 2</a>
  <a id="Three" href="/fixtures3">Division 3</a>
  <a id="Four" href="/fixtures4">Division 4</a>
  <a id="Five" href="/fixtures5">Division 5</a>
  
  
    </div>
      <div id="table">
        
        <style type="text/css">
          .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
          .tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
            font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
          .tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
            font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
          .tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
            vertical-align:top}
          .tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
            vertical-align:top}
          .tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}

          </style>
          <div class="fixtures-table">
          <h2>Gameweek 1</h2>
          <h3><%if (locals.data) {%> 
            <%= data[0].Date %> - Venue: <%= data[0].Venue %>
            <% } else { %> TBD <% } %></h3>
          <table class="tg">
          <tbody>
            <tr>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[1].Team %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[1].Score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-unij">v</td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[1].score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[1].team %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            <tr>
              <td class="tg-zm8b"><%if (locals.data) {%> 
                <%= data[2].Team %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[2].Score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w05s">v</td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[2].score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w16d"><%if (locals.data) {%> 
                <%= data[2].team %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            <tr>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[3].Team %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[3].Score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-unij">v</td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[3].score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[3].team %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            <tr>
              <td class="tg-zm8b"><%if (locals.data) {%> 
                <%= data[4].Team %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[4].Score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w05s">v</td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[4].score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w16d"><%if (locals.data) {%> 
                <%= data[4].team %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            
          </tbody>
          </table>
        </div>
          <!--table 2-->
          <div class="fixtures-table">
            <h2>Gameweek 2</h2>
            <h3><%if (locals.data) {%> 
              <%= data[6].Date %>  - Venue: <%= data[6].Venue %>
              <% } else { %> TBD <% } %></h3>
            <table class="tg"><tbody>
              <tr>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[7].Team %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[7].Score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-unij">v</td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[7].score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[7].team %> 
                  <% } else { %> TBD <% } %></td>
              </tr>
              <tr>
                <td class="tg-zm8b"><%if (locals.data) {%> 
                  <%= data[8].Team %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[8].Score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-w05s">v</td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[8].score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-w16d"><%if (locals.data) {%> 
                  <%= data[8].team %> 
                  <% } else { %> TBD <% } %></td>
              </tr>
              <tr>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[9].Team %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[9].Score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-unij">v</td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[9].score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[9].team %> 
                  <% } else { %> TBD <% } %></td>
              </tr>
              <tr>
                <td class="tg-zm8b"><%if (locals.data) {%> 
                  <%= data[10].Team %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[10].Score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-w05s">v</td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[10].score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-w16d"><%if (locals.data) {%> 
                  <%= data[10].team %> 
                  <% } else { %> TBD <% } %></td>
              </tr>
              
            </tbody>
            </table>
            </div>
      </div>

    <!--new tables-->

    <div id="table">
        
      <style type="text/css">
        .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
        .tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
          font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
        .tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
          font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
        .tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
          vertical-align:top}
        .tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
        .tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
          vertical-align:top}
        .tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
        .tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
        .tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
        .tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
        .tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}

        </style>
        <div class="fixtures-table">
        <h2>Gameweek 3</h2>
        <h3><%if (locals.data) {%> 
          <%= data[12].Date %>  - Venue: <%= data[12].Venue %>
          <% } else { %> TBD <% } %></h3>
        <table class="tg">
        <tbody>
          <tr>
            <td class="tg-nj36"><%if (locals.data) {%> 
              <%= data[13].Team %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-gpyc"><%if (locals.data) {%> 
              <%= data[13].Score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-unij">v</td>
            <td class="tg-gpyc"><%if (locals.data) {%> 
              <%= data[13].score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-nj36"><%if (locals.data) {%> 
              <%= data[13].team %> 
              <% } else { %> TBD <% } %></td>
          </tr>
          <tr>
            <td class="tg-zm8b"><%if (locals.data) {%> 
              <%= data[14].Team %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-wwiz"><%if (locals.data) {%> 
              <%= data[14].Score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-w05s">v</td>
            <td class="tg-wwiz"><%if (locals.data) {%> 
              <%= data[14].score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-w16d"><%if (locals.data) {%> 
              <%= data[14].team %> 
              <% } else { %> TBD <% } %></td>
          </tr>
          <tr>
            <td class="tg-nj36"><%if (locals.data) {%> 
              <%= data[15].Team %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-gpyc"><%if (locals.data) {%> 
              <%= data[15].Score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-unij">v</td>
            <td class="tg-gpyc"><%if (locals.data) {%> 
              <%= data[15].score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-nj36"><%if (locals.data) {%> 
              <%= data[15].team %> 
              <% } else { %> TBD <% } %></td>
          </tr>
          <tr>
            <td class="tg-zm8b"><%if (locals.data) {%> 
              <%= data[16].Team %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-wwiz"><%if (locals.data) {%> 
              <%= data[16].Score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-w05s">v</td>
            <td class="tg-wwiz"><%if (locals.data) {%> 
              <%= data[16].score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-w16d"><%if (locals.data) {%> 
              <%= data[16].team %> 
              <% } else { %> TBD <% } %></td>
          </tr>
          
        </tbody>
        </table>
      </div>
        <!--table 2-->
        <div class="fixtures-table">
          <h2>Gameweek 4</h2>
          <h3><%if (locals.data) {%> 
            <%= data[18].Date %>  - Venue: <%= data[18].Venue %>
            <% } else { %> TBD <% } %></h3>
          <table class="tg"><tbody>
            <tr>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[19].Team %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[19].Score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-unij">v</td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[19].score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[19].team %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            <tr>
              <td class="tg-zm8b"><%if (locals.data) {%> 
                <%= data[20].Team %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[20].Score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w05s">v</td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[20].score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w16d"><%if (locals.data) {%> 
                <%= data[20].team %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            <tr>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[21].Team %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[21].Score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-unij">v</td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[21].score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[21].team %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            <tr>
              <td class="tg-zm8b"><%if (locals.data) {%> 
                <%= data[22].Team %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[22].Score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w05s">v</td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[22].score %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w16d"><%if (locals.data) {%> 
                <%= data[22].team %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            
          </tbody>
          </table>
          </div>
    </div>
  <!--new row-->
  <div id="table">
        
    <style type="text/css">
      .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
      .tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
      .tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
      .tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
        vertical-align:top}
      .tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
      .tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
        vertical-align:top}
      .tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
      .tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
      .tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
      .tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
      .tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}

      </style>
      <div class="fixtures-table">
      <h2>Gameweek 5</h2>
      <h3><%if (locals.data) {%> 
        <%= data[24].Date %>  - Venue: <%= data[24].Venue %>
        <% } else { %> TBD <% } %></h3>
      <table class="tg">
      <tbody>
        <tr>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[25].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[25].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-unij">v</td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[25].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[25].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-zm8b"><%if (locals.data) {%> 
            <%= data[26].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[26].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w05s">v</td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[26].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w16d"><%if (locals.data) {%> 
            <%= data[26].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[27].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[27].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-unij">v</td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[27].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[27].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-zm8b"><%if (locals.data) {%> 
            <%= data[28].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[28].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w05s">v</td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[28].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w16d"><%if (locals.data) {%> 
            <%= data[28].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        
      </tbody>
      </table>
    </div>
      <!--table 2-->
      <div class="fixtures-table">
        <h2>Gameweek 6</h2>
        <h3><%if (locals.data) {%> 
          <%= data[30].Date %>  - Venue: <%= data[30].Venue %>
          <% } else { %> TBD <% } %></h3>
        <table class="tg"><tbody>
          <tr>
            <td class="tg-nj36"><%if (locals.data) {%> 
              <%= data[31].Team %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-gpyc"><%if (locals.data) {%> 
              <%= data[31].Score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-unij">v</td>
            <td class="tg-gpyc"><%if (locals.data) {%> 
              <%= data[31].score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-nj36"><%if (locals.data) {%> 
              <%= data[31].team %> 
              <% } else { %> TBD <% } %></td>
          </tr>
          <tr>
            <td class="tg-zm8b"><%if (locals.data) {%> 
              <%= data[32].Team %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-wwiz"><%if (locals.data) {%> 
              <%= data[32].Score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-w05s">v</td>
            <td class="tg-wwiz"><%if (locals.data) {%> 
              <%= data[32].score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-w16d"><%if (locals.data) {%> 
              <%= data[32].team %> 
              <% } else { %> TBD <% } %></td>
          </tr>
          <tr>
            <td class="tg-nj36"><%if (locals.data) {%> 
              <%= data[33].Team %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-gpyc"><%if (locals.data) {%> 
              <%= data[33].Score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-unij">v</td>
            <td class="tg-gpyc"><%if (locals.data) {%> 
              <%= data[33].score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-nj36"><%if (locals.data) {%> 
              <%= data[33].team %> 
              <% } else { %> TBD <% } %></td>
          </tr>
          <tr>
            <td class="tg-zm8b"><%if (locals.data) {%> 
              <%= data[34].Team %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-wwiz"><%if (locals.data) {%> 
              <%= data[34].Score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-w05s">v</td>
            <td class="tg-wwiz"><%if (locals.data) {%> 
              <%= data[34].score %> 
              <% } else { %> TBD <% } %></td>
            <td class="tg-w16d"><%if (locals.data) {%> 
              <%= data[34].team %> 
              <% } else { %> TBD <% } %></td>
          </tr>
          
        </tbody>
        </table>
        </div>
  </div>
<!--New row-->
<div id="table">
        
  <style type="text/css">
    .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
    .tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
      font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
    .tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
      font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
    .tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
      vertical-align:top}
    .tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
      vertical-align:top}
    .tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}

    </style>
    <div class="fixtures-table">
    <h2>Gameweek 7</h2>
    <h3><%if (locals.data) {%> 
      <%= data[36].Date %>  - Venue: <%= data[36].Venue %>
      <% } else { %> TBD <% } %></h3>
    <table class="tg">
    <tbody>
      <tr>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[37].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[37].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-unij">v</td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[37].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[37].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-zm8b"><%if (locals.data) {%> 
          <%= data[38].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[38].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w05s">v</td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[38].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w16d"><%if (locals.data) {%> 
          <%= data[38].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[39].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[39].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-unij">v</td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[39].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[39].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-zm8b"><%if (locals.data) {%> 
          <%= data[40].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[40].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w05s">v</td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[40].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w16d"><%if (locals.data) {%> 
          <%= data[40].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      
    </tbody>
    </table>
  </div>
    <!--table 2-->
    <div class="fixtures-table">
      <h2>Gamweek 8</h2>
      <h3><%if (locals.data) {%> 
        <%= data[42].Date %>  - Venue: <%= data[42].Venue %>
        <% } else { %> TBD <% } %></h3>
      <table class="tg"><tbody>
        <tr>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[43].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[43].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-unij">v</td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[43].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[43].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-zm8b"><%if (locals.data) {%> 
            <%= data[44].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[44].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w05s">v</td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[44].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w16d"><%if (locals.data) {%> 
            <%= data[44].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[45].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[45].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-unij">v</td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[45].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[45].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-zm8b"><%if (locals.data) {%> 
            <%= data[46].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[46].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w05s">v</td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[46].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w16d"><%if (locals.data) {%> 
            <%= data[46].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        
      </tbody>
      </table>
      </div>
</div>
<!--new row-->
<div id="table">
        
  <style type="text/css">
    .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
    .tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
      font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
    .tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
      font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
    .tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
      vertical-align:top}
    .tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
      vertical-align:top}
    .tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}

    </style>
    <div class="fixtures-table">
    <h2>Gameweek 9</h2>
    <h3><%if (locals.data) {%> 
      <%= data[48].Date %>  - Venue: <%= data[48].Venue %>
      <% } else { %> TBD <% } %></h3>
    <table class="tg">
    <tbody>
      <tr>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[49].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[49].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-unij">v</td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[49].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[49].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-zm8b"><%if (locals.data) {%> 
          <%= data[50].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[50].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w05s">v</td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[50].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w16d"><%if (locals.data) {%> 
          <%= data[50].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[51].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[51].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-unij">v</td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[51].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[51].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-zm8b"><%if (locals.data) {%> 
          <%= data[52].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[52].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w05s">v</td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[52].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w16d"><%if (locals.data) {%> 
          <%= data[52].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      
    </tbody>
    </table>
  </div>
    <!--table 2-->
    <div class="fixtures-table">
      <h2>Gameweek 10</h2>
      <h3><%if (locals.data) {%> 
        <%= data[54].Date %>  - Venue: <%= data[54].Venue %>
        <% } else { %> TBD <% } %></h3>
      <table class="tg"><tbody>
        <tr>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[55].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[55].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-unij">v</td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[55].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[55].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-zm8b"><%if (locals.data) {%> 
            <%= data[56].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[56].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w05s">v</td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[56].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w16d"><%if (locals.data) {%> 
            <%= data[56].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[57].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[57].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-unij">v</td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[57].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[57].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-zm8b"><%if (locals.data) {%> 
            <%= data[58].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[58].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w05s">v</td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[58].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w16d"><%if (locals.data) {%> 
            <%= data[58].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        
      </tbody>
      </table>
      </div>
</div>
<div id="table">
        
  <style type="text/css">
    .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
    .tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
      font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
    .tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
      font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
    .tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
      vertical-align:top}
    .tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
      vertical-align:top}
    .tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
    .tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}

    </style>
    <div class="fixtures-table">
    <h2>Gameweek 11</h2>
    <h3><%if (locals.data) {%> 
      <%= data[60].Date %>  - Venue: <%= data[60].Venue %>
      <% } else { %> TBD <% } %></h3>
    <table class="tg">
    <tbody>
      <tr>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[61].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[61].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-unij">v</td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[61].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[61].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-zm8b"><%if (locals.data) {%> 
          <%= data[62].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[62].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w05s">v</td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[62].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w16d"><%if (locals.data) {%> 
          <%= data[62].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[63].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[63].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-unij">v</td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[63].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[63].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-zm8b"><%if (locals.data) {%> 
          <%= data[64].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[64].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w05s">v</td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[64].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w16d"><%if (locals.data) {%> 
          <%= data[64].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      
    </tbody>
    </table>
  </div>
    <!--table 2-->
    <div class="fixtures-table">
      <h2>Gameweek 12</h2>
      <h3><%if (locals.data) {%> 
        <%= data[66].Date %>  - Venue: <%= data[66].Venue %>
        <% } else { %> TBD <% } %></h3>
      <table class="tg"><tbody>
        <tr>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[67].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[67].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-unij">v</td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[67].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[67].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-zm8b"><%if (locals.data) {%> 
            <%= data[68].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[68].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w05s">v</td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[68].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w16d"><%if (locals.data) {%> 
            <%= data[68].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[69].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[69].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-unij">v</td>
          <td class="tg-gpyc"><%if (locals.data) {%> 
            <%= data[69].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-nj36"><%if (locals.data) {%> 
            <%= data[69].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        <tr>
          <td class="tg-zm8b"><%if (locals.data) {%> 
            <%= data[70].Team %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[70].Score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w05s">v</td>
          <td class="tg-wwiz"><%if (locals.data) {%> 
            <%= data[70].score %> 
            <% } else { %> TBD <% } %></td>
          <td class="tg-w16d"><%if (locals.data) {%> 
            <%= data[70].team %> 
            <% } else { %> TBD <% } %></td>
        </tr>
        
      </tbody>
      </table>
      </div>
</div>

<!--new tables-->

<div id="table">
  
<style type="text/css">
  .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
  .tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
    font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
  .tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
    font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
  .tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
    vertical-align:top}
  .tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
  .tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
    vertical-align:top}
  .tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
  .tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
  .tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
  .tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
  .tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}

  </style>
  <div class="fixtures-table">
  <h2>Gameweek 13</h2>
  <h3><%if (locals.data) {%> 
    <%= data[72].Date %>  - Venue: <%= data[72].Venue %>
    <% } else { %> TBD <% } %></h3>
  <table class="tg">
  <tbody>
    <tr>
      <td class="tg-nj36"><%if (locals.data) {%> 
        <%= data[73].Team %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-gpyc"><%if (locals.data) {%> 
        <%= data[73].Score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-unij">v</td>
      <td class="tg-gpyc"><%if (locals.data) {%> 
        <%= data[73].score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-nj36"><%if (locals.data) {%> 
        <%= data[73].team %> 
        <% } else { %> TBD <% } %></td>
    </tr>
    <tr>
      <td class="tg-zm8b"><%if (locals.data) {%> 
        <%= data[74].Team %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-wwiz"><%if (locals.data) {%> 
        <%= data[74].Score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-w05s">v</td>
      <td class="tg-wwiz"><%if (locals.data) {%> 
        <%= data[74].score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-w16d"><%if (locals.data) {%> 
        <%= data[74].team %> 
        <% } else { %> TBD <% } %></td>
    </tr>
    <tr>
      <td class="tg-nj36"><%if (locals.data) {%> 
        <%= data[75].Team %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-gpyc"><%if (locals.data) {%> 
        <%= data[75].Score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-unij">v</td>
      <td class="tg-gpyc"><%if (locals.data) {%> 
        <%= data[75].score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-nj36"><%if (locals.data) {%> 
        <%= data[75].team %> 
        <% } else { %> TBD <% } %></td>
    </tr>
    <tr>
      <td class="tg-zm8b"><%if (locals.data) {%> 
        <%= data[76].Team %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-wwiz"><%if (locals.data) {%> 
        <%= data[76].Score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-w05s">v</td>
      <td class="tg-wwiz"><%if (locals.data) {%> 
        <%= data[76].score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-w16d"><%if (locals.data) {%> 
        <%= data[76].team %> 
        <% } else { %> TBD <% } %></td>
    </tr>
    
  </tbody>
  </table>
</div>
  <!--table 2-->
  <div class="fixtures-table">
    <h2>Gameweek 14</h2>
    <h3><%if (locals.data) {%> 
      <%= data[78].Date %>  - Venue: <%= data[78].Venue %>
      <% } else { %> TBD <% } %></h3>
    <table class="tg"><tbody>
      <tr>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[79].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[79].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-unij">v</td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[79].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[79].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-zm8b"><%if (locals.data) {%> 
          <%= data[80].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[80].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w05s">v</td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[80].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w16d"><%if (locals.data) {%> 
          <%= data[80].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[81].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[81].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-unij">v</td>
        <td class="tg-gpyc"><%if (locals.data) {%> 
          <%= data[81].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-nj36"><%if (locals.data) {%> 
          <%= data[81].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      <tr>
        <td class="tg-zm8b"><%if (locals.data) {%> 
          <%= data[82].Team %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[82].Score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w05s">v</td>
        <td class="tg-wwiz"><%if (locals.data) {%> 
          <%= data[82].score %> 
          <% } else { %> TBD <% } %></td>
        <td class="tg-w16d"><%if (locals.data) {%> 
          <%= data[82].team %> 
          <% } else { %> TBD <% } %></td>
      </tr>
      
    </tbody>
    </table>
    </div>
</div>
<!--new row-->
<div id="table">
  
<style type="text/css">
.tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
.tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
.tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
.tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
.tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
.tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
.tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}

</style>
<div class="fixtures-table">
<h2>Gameweek 15</h2>
<h3><%if (locals.data) {%> 
  <%= data[84].Date %>  - Venue: <%= data[84].Venue %>
  <% } else { %> TBD <% } %></h3>
<table class="tg">
<tbody>
  <tr>
    <td class="tg-nj36"><%if (locals.data) {%> 
      <%= data[85].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-gpyc"><%if (locals.data) {%> 
      <%= data[85].Score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-unij">v</td>
    <td class="tg-gpyc"><%if (locals.data) {%> 
      <%= data[85].score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-nj36"><%if (locals.data) {%> 
      <%= data[85].team %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-zm8b"><%if (locals.data) {%> 
      <%= data[86].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-wwiz"><%if (locals.data) {%> 
      <%= data[86].Score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-w05s">v</td>
    <td class="tg-wwiz"><%if (locals.data) {%> 
      <%= data[86].score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-w16d"><%if (locals.data) {%> 
      <%= data[86].team %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-nj36"><%if (locals.data) {%> 
      <%= data[87].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-gpyc"><%if (locals.data) {%> 
      <%= data[87].Score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-unij">v</td>
    <td class="tg-gpyc"><%if (locals.data) {%> 
      <%= data[87].score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-nj36"><%if (locals.data) {%> 
      <%= data[87].team %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-zm8b"><%if (locals.data) {%> 
      <%= data[88].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-wwiz"><%if (locals.data) {%> 
      <%= data[88].Score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-w05s">v</td>
    <td class="tg-wwiz"><%if (locals.data) {%> 
      <%= data[88].score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-w16d"><%if (locals.data) {%> 
      <%= data[88].team %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  
</tbody>
</table>
</div>
<!--table 2-->
<div class="fixtures-table">
  <h2>Gameweek 16</h2>
  <h3><%if (locals.data) {%> 
    <%= data[90].Date %>  - Venue: <%= data[90].Venue %>
    <% } else { %> TBD <% } %></h3>
  <table class="tg"><tbody>
    <tr>
      <td class="tg-nj36"><%if (locals.data) {%> 
        <%= data[91].Team %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-gpyc"><%if (locals.data) {%> 
        <%= data[91].Score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-unij">v</td>
      <td class="tg-gpyc"><%if (locals.data) {%> 
        <%= data[91].score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-nj36"><%if (locals.data) {%> 
        <%= data[91].team %> 
        <% } else { %> TBD <% } %></td>
    </tr>
    <tr>
      <td class="tg-zm8b"><%if (locals.data) {%> 
        <%= data[92].Team %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-wwiz"><%if (locals.data) {%> 
        <%= data[92].Score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-w05s">v</td>
      <td class="tg-wwiz"><%if (locals.data) {%> 
        <%= data[92].score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-w16d"><%if (locals.data) {%> 
        <%= data[92].team %> 
        <% } else { %> TBD <% } %></td>
    </tr>
    <tr>
      <td class="tg-nj36"><%if (locals.data) {%> 
        <%= data[93].Team %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-gpyc"><%if (locals.data) {%> 
        <%= data[93].Score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-unij">v</td>
      <td class="tg-gpyc"><%if (locals.data) {%> 
        <%= data[93].score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-nj36"><%if (locals.data) {%> 
        <%= data[93].team %> 
        <% } else { %> TBD <% } %></td>
    </tr>
    <tr>
      <td class="tg-zm8b"><%if (locals.data) {%> 
        <%= data[94].Team %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-wwiz"><%if (locals.data) {%> 
        <%= data[94].Score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-w05s">v</td>
      <td class="tg-wwiz"><%if (locals.data) {%> 
        <%= data[94].score %> 
        <% } else { %> TBD <% } %></td>
      <td class="tg-w16d"><%if (locals.data) {%> 
        <%= data[94].team %> 
        <% } else { %> TBD <% } %></td>
    </tr>
    
  </tbody>
  </table>
  </div>
</div>
<!--New row-->
<div id="table">
  
<style type="text/css">
.tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
.tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
vertical-align:top}
.tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
.tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
vertical-align:top}
.tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
.tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
.tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
.tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
.tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}

</style>
<div class="fixtures-table">
<h2>Gameweek 17</h2>
<h3><%if (locals.data) {%> 
  <%= data[96].Date %>  - Venue: <%= data[96].Venue %>
  <% } else { %> TBD <% } %></h3>
<table class="tg">
<tbody>
<tr>
  <td class="tg-nj36"><%if (locals.data) {%> 
    <%= data[97].Team %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-gpyc"><%if (locals.data) {%> 
    <%= data[97].Score %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-unij">v</td>
  <td class="tg-gpyc"><%if (locals.data) {%> 
    <%= data[97].score %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-nj36"><%if (locals.data) {%> 
    <%= data[97].team %> 
    <% } else { %> TBD <% } %></td>
</tr>
<tr>
  <td class="tg-zm8b"><%if (locals.data) {%> 
    <%= data[98].Team %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-wwiz"><%if (locals.data) {%> 
    <%= data[98].Score %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-w05s">v</td>
  <td class="tg-wwiz"><%if (locals.data) {%> 
    <%= data[98].score %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-w16d"><%if (locals.data) {%> 
    <%= data[98].team %> 
    <% } else { %> TBD <% } %></td>
</tr>
<tr>
  <td class="tg-nj36"><%if (locals.data) {%> 
    <%= data[99].Team %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-gpyc"><%if (locals.data) {%> 
    <%= data[99].Score %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-unij">v</td>
  <td class="tg-gpyc"><%if (locals.data) {%> 
    <%= data[99].score %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-nj36"><%if (locals.data) {%> 
    <%= data[99].team %> 
    <% } else { %> TBD <% } %></td>
</tr>
<tr>
  <td class="tg-zm8b"><%if (locals.data) {%> 
    <%= data[100].Team %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-wwiz"><%if (locals.data) {%> 
    <%= data[100].Score %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-w05s">v</td>
  <td class="tg-wwiz"><%if (locals.data) {%> 
    <%= data[100].score %> 
    <% } else { %> TBD <% } %></td>
  <td class="tg-w16d"><%if (locals.data) {%> 
    <%= data[100].team %> 
    <% } else { %> TBD <% } %></td>
</tr>

</tbody>
</table>
</div>
<!--table 2-->
<div class="fixtures-table">
<h2>Gamweek 18</h2>
<h3><%if (locals.data) {%> 
  <%= data[102].Date %>  - Venue: <%= data[102].Venue %>
  <% } else { %> TBD <% } %></h3>
<table class="tg"><tbody>
  <tr>
    <td class="tg-nj36"><%if (locals.data) {%> 
      <%= data[103].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-gpyc"><%if (locals.data) {%> 
      <%= data[103].Score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-unij">v</td>
    <td class="tg-gpyc"><%if (locals.data) {%> 
      <%= data[103].score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-nj36"><%if (locals.data) {%> 
      <%= data[103].team %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-zm8b"><%if (locals.data) {%> 
      <%= data[104].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-wwiz"><%if (locals.data) {%> 
      <%= data[104].Score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-w05s">v</td>
    <td class="tg-wwiz"><%if (locals.data) {%> 
      <%= data[104].score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-w16d"><%if (locals.data) {%> 
      <%= data[104].team %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-nj36"><%if (locals.data) {%> 
      <%= data[105].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-gpyc"><%if (locals.data) {%> 
      <%= data[105].Score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-unij">v</td>
    <td class="tg-gpyc"><%if (locals.data) {%> 
      <%= data[105].score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-nj36"><%if (locals.data) {%> 
      <%= data[105].team %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  <tr>
    <td class="tg-zm8b"><%if (locals.data) {%> 
      <%= data[106].Team %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-wwiz"><%if (locals.data) {%> 
      <%= data[106].Score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-w05s">v</td>
    <td class="tg-wwiz"><%if (locals.data) {%> 
      <%= data[106].score %> 
      <% } else { %> TBD <% } %></td>
    <td class="tg-w16d"><%if (locals.data) {%> 
      <%= data[106].team %> 
      <% } else { %> TBD <% } %></td>
  </tr>
  
</tbody>
</table>
</div>
</div>


    </div>
   
    <div class="footer">
      <p> West Glamorgan Netball 2024. All rights reserved</p>
      <p>Designed by<a class="wos_link" href="https://webonestop.com/"> Webonestop</a></p>
    </div>

</body>
</html>