<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixtures</title>
    <link rel="stylesheet" href="styles/layout.css">
</head>
<body class="fixtures-page">
      <!----Top navigation bar-->

<div class="header">
    <div class="logo"><img src="images/west-glamorgan-netball.png"></div>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/fixtures">Results & Fixtures</a>
      <a href="/standings">Standings</a>
      <a href="/contact">Contact us</a>
      <a href="/blog">News</a>
    </div>
    </div>
  
    <div id="hero">
      <h1>League Fixtures & Results</h1>
    </div>	
  <h1 class="division-header">Division 5</h1>
    <div id="display">
  
      <div id="leagues">
  <!--testing placement, if not here put inside table id-->
  
  <a id="One" href="/fixtures">Division 1</a>
  <a id="Two" href="/fixtures2">Division 2</a>
  <a id="Three" href="/fixtures3">Division 3</a>
  <a id="Four" href="/fixtures4">Division 4</a>
  <a id="Five" href="/fixtures5">Division 5</a>
  
  
    </div>
      <div id="table">
        
        <style type="text/css">
          .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
          .tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
            font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
          .tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
            font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
          .tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
            vertical-align:top}
          .tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
            vertical-align:top}
          .tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          </style>

<div class="fixtures-table">
  <h2>FIXTURES</h2>
          <table class="tg">
            
          <tbody>
            <tr>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[29].Team_1 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[29].Score_1 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-unij">v</td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[29].Score_2 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[29].Team_2 %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            <tr>
              <td class="tg-zm8b"><%if (locals.data) {%> 
                <%= data[30].Team_1 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[30].Score_1 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w05s">v</td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[30].Score_2 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w16d"><%if (locals.data) {%> 
                <%= data[30].Team_2 %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            <tr>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[31].Team_1 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[31].Score_1 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-unij">v</td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[31].Score_2 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[31].Team_2 %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            <tr>
              <td class="tg-zm8b"><%if (locals.data) {%> 
                <%= data[32].Team_1 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[32].Score_1 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w05s">v</td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[32].Score_2 %> 
                <% } else { %> TBD <% } %></td>
              <td class="tg-w16d"><%if (locals.data) {%> 
                <%= data[32].Team_2 %> 
                <% } else { %> TBD <% } %></td>
            </tr>
            
          </tbody>
          </table>
          </div>
          <!--table 2-->
          <div class="fixtures-table">
            <h2>RESULTS</h2>
            <table class="tg"><tbody>
              <tr>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[29].Team %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[29].Score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-unij">v</td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[29].score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[29].team %> 
                  <% } else { %> TBD <% } %></td>
              </tr>
              <tr>
                <td class="tg-zm8b"><%if (locals.data) {%> 
                  <%= data[30].Team %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[30].Score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-w05s">v</td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[30].score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-w16d"><%if (locals.data) {%> 
                  <%= data[30].team %> 
                  <% } else { %> TBD <% } %></td>
              </tr>
              <tr>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[31].Team %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[31].Score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-unij">v</td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[31].score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[31].team %> 
                  <% } else { %> TBD <% } %></td>
              </tr>
              <tr>
                <td class="tg-zm8b"><%if (locals.data) {%> 
                  <%= data[32].Team %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[32].Score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-w05s">v</td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[32].score %> 
                  <% } else { %> TBD <% } %></td>
                <td class="tg-w16d"><%if (locals.data) {%> 
                  <%= data[32].team %> 
                  <% } else { %> TBD <% } %></td>
              </tr>
              
            </tbody>
            </table>
            </div>
      </div>
    </div>
   
  
      <!--footer-->
      <div class="footer">
        <p>© West Glamorgan Netball 2024. All rights reserved</p>
        <p>Designed by<a class="wos_link" href="https://webonestop.com/"> Webonestop</a></p>
      </div>

</body>
</html>