<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixtures</title>
    <link rel="stylesheet" href="styles/layout.css">
</head>
<body class="fixtures-page">
      <!----Top navigation bar-->

<div class="header">
    <div class="logo"><img src="images/west-glamorgan-netball.png"></div>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/fixtures">Results & Fixtures</a>
      <a href="/standings">Standings</a>
      <a href="/contact">Contact us</a>
    </div>
    </div>
  
    <div id="hero">
      <h1>League Fixtures & Results</h1>
    </div>	
  <h1 class="division-header">Division 2</h1>
    <div id="display">
  
      <div id="leagues">
  <!--testing placement, if not here put inside table id-->
  
  <a id="One" href="/fixtures">Division 1</a>
  <a id="Two" href="/fixtures2">Division 2</a>
  <a id="Three" href="/fixtures3">Division 3</a>
  <a id="Four" href="/fixtures4">Division 4</a>
  <a id="Five" href="/fixtures5">Division 5</a>
  <a id="Six" href="/fixtures6">Division 6</a>
  
  
    </div>
      <div id="table">
        
        <style type="text/css">
          .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;border-style:solid;border-width:1px;}
          .tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
            font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:11px 20px;word-break:normal;}
          .tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
            font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:11px 20px;word-break:normal;}
          .tg .tg-gpyc{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
            vertical-align:top}
          .tg .tg-w05s{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-wwiz{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;font-weight:bold;text-align:center;
            vertical-align:top}
          .tg .tg-nj36{background-color:#ebf5ff;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-w16d{background-color:#d2e4fc;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-unij{background-color:#fe0000;border-color:#000000;color:#ffffff;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-zm8b{background-color:#D2E4FC;border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          .tg .tg-dop7{border-color:#000000;color:#000000;font-size:22px;text-align:center;vertical-align:top}
          </style>

<div class="fixtures-table">
  <h2>FIXTURES</h2>
          <table class="tg">
            
          <tbody>
            <tr>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[8].Team_1 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[8].Score_1 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-unij">v</td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[8].Score_2 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[8].Team_2 %> 
                <% } else { %> Error <% } %></td>
            </tr>
            <tr>
              <td class="tg-zm8b"><%if (locals.data) {%> 
                <%= data[9].Team_1 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[9].Score_1 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-w05s">v</td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[9].Score_2 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-w16d"><%if (locals.data) {%> 
                <%= data[9].Team_2 %> 
                <% } else { %> Error <% } %></td>
            </tr>
            <tr>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[10].Team_1 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[10].Score_1 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-unij">v</td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[10].Score_2 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[10].Team_2 %> 
                <% } else { %> Error <% } %></td>
            </tr>
            <tr>
              <td class="tg-zm8b"><%if (locals.data) {%> 
                <%= data[11].Team_1 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[11].Score_1 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-w05s">v</td>
              <td class="tg-wwiz"><%if (locals.data) {%> 
                <%= data[11].Score_2 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-w16d"><%if (locals.data) {%> 
                <%= data[11].Team_2 %> 
                <% } else { %> Error <% } %></td>
            </tr>
            <tr>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[12].Team_1 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[12].Score_1 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-unij">v</td>
              <td class="tg-gpyc"><%if (locals.data) {%> 
                <%= data[12].Score_2 %> 
                <% } else { %> Error <% } %></td>
              <td class="tg-nj36"><%if (locals.data) {%> 
                <%= data[12].Team_2 %> 
                <% } else { %> Error <% } %></td>
            </tr>
          </tbody>
          </table>
          </div>
          <!--table 2-->
          <div class="fixtures-table">
            <h2>RESULTS</h2>
            <table class="tg"><tbody>
              <tr>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[8].Team %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[8].Score %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-unij">v</td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[8].score %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[8].team %> 
                  <% } else { %> Error <% } %></td>
              </tr>
              <tr>
                <td class="tg-zm8b"><%if (locals.data) {%> 
                  <%= data[9].Team %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[9].Score %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-w05s">v</td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[9].score %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-w16d"><%if (locals.data) {%> 
                  <%= data[9].team %> 
                  <% } else { %> Error <% } %></td>
              </tr>
              <tr>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[10].Team %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[10].Score %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-unij">v</td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[10].score %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[10].team %> 
                  <% } else { %> Error <% } %></td>
              </tr>
              <tr>
                <td class="tg-zm8b"><%if (locals.data) {%> 
                  <%= data[11].Team %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[11].Score %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-w05s">v</td>
                <td class="tg-wwiz"><%if (locals.data) {%> 
                  <%= data[11].score %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-w16d"><%if (locals.data) {%> 
                  <%= data[11].team %> 
                  <% } else { %> Error <% } %></td>
              </tr>
              <tr>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[12].Team %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[12].Score %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-unij">v</td>
                <td class="tg-gpyc"><%if (locals.data) {%> 
                  <%= data[12].score %> 
                  <% } else { %> Error <% } %></td>
                <td class="tg-nj36"><%if (locals.data) {%> 
                  <%= data[12].team %> 
                  <% } else { %> Error <% } %></td>
              </tr>
            </tbody>
            </table>
            </div>
      </div>
    </div>
   
  

</body>
</html>