<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>West Glamorgan Netball</title>
  <link rel="stylesheet" href="styles/layout.css">
  <style> body {background-image: url("../images/GS_GK_leap.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;}
    @media (max-width: 800px) {body {background-repeat: repeat-y;}}</style>
</head>
<body>
      <!----Top navigation bar-->

<div class="header">
  <div class="logo"><img src="images/west-glamorgan-netball.png"> </div>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/fixtures">Results & Fixtures</a>
    <a href="/standings">Standings</a>
    <a href="/contact">Contact us</a>
  </div>
</div>

  <!----content-->

<div class="welcome-banner">
    <h1>Welcome to West Glamorgan Netball</h1>
    <div class="content-image">
      <div class="welcome-content">
        <p>Join a team in your area to play in a division that suits your level</p>
        <p>Beginner to advanced - All levels welcome</p>
        <ul>
        <li>
          Qualified officials
        </li>
        <li>
          Experienced coaches
        </li>
        <li>
          Regularly updated standings and fixtures/results
        </li>
      </ul>
      <a href="/contact"><button>Learn more</button></a>
    </div>

    <img src="../images/Scored_shot.jpg" class="welcome-banner-img">
  </div>
</div>

  <div class="content">
    <div class="fixtures-title"><h3>Upcoming fixtures</h3></div>
    <div class="fixtures-container">
      <div class="match"><h4><%if (locals.data) {%> 
        <%= data[43].Division %> 
        <% } else { %> TBD <% } %></h4>
<div>
            <h3><%if (locals.data) {%> 
              <%= data[44].Team_2 %> 
              <% } else { %> TBD <% } %></h3>
            <p>V</p>
            <h3><%if (locals.data) {%> 
              <%= data[44].Team %> 
              <% } else { %> TBD <% } %></h3>
            </div>          
      </div>

      <div class="match"><h4><%if (locals.data) {%> 
        <%= data[45].Division %> 
        <% } else { %> TBD <% } %></h4>
<div>
            <h3><%if (locals.data) {%> 
              <%= data[46].Team_2 %> 
              <% } else { %> TBD <% } %></h3>
            <p>V</p>
            <h3><%if (locals.data) {%> 
              <%= data[46].Team %> 
              <% } else { %> TBD <% } %></h3>
            </div>          
      </div>

      <div class="match"><h4><%if (locals.data) {%> 
        <%= data[47].Division %> 
        <% } else { %> TBD <% } %></h4>
<div>
            <h3><%if (locals.data) {%> 
              <%= data[48].Team_2 %> 
              <% } else { %> TBD <% } %></h3>
            <p>V</p>
            <h3><%if (locals.data) {%> 
              <%= data[48].Team %> 
              <% } else { %> TBD <% } %></h3>
            </div>          
      </div>
    </div>
  

    <div class="news">
    <div class="latest"><span>Join the Action</span></div>
     </div>
  </div>

  <div class="join-in">
    <div class="tidbits">
        <div class="icon">
          <div><img src='images/icons8-exercise-female-100.png'></div>
          <p>Stay Fit</p>
        </div>
        <div class="icon">
          <div><img src='images/icons8-trophy-100.png'></div>
          <p>Competitive league matches</p>
        </div>
        <div class="icon">
          <div> <img src='images/icons8-event-100.png'></div>
          <p>Organised Events</p>
        </div>
        <div class="icon">
          <div><img class="clock" src='images/icons8-clock-100 (1).png'></div>
          <p>7-9pm Mondays & Thursdays</p>
        </div>
    </div>
  </div>
  
  <div class="action-images">
    <img class="featured-image" src="../images/Team_huddle.jpg">
      <div class="other-images">
        <img src="../images/Ball_passed.jpg">
        <img src="../images/Blocked_pass.jpg">
      </div>
  </div>

<!--maybe a sign up now call to action-->
<div class="fourth">
  <div class="action">
    <div class="call">
      <h3>Sign up now</h3>
      <p>Contact us to learn more and join the action!</p>
    </div>
    <a href="/contact" class="button">Sign up</a>
  </div>
</div>


<!----footer-->

</body>
</html>